name: "deploy vim help to gh-pages"
on:
  push:
    branches:
      - master
permissions:
  contents: write

jobs:
  ghpages:
    name: Convert and deploy vim help
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Generate html
        uses: tsuyoshicho/action-vimhelp-html-generate@592689c2d37fa81c623c2156a02ef50d2691fc59 # v1.2.1
        env:
          FOLDER: build
      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
